@model string

<div class="container">
	<h1 class="text-center my-5">Create a new role</h1>
	<div class="d-flex justify-content-center my-5">
		<a asp-action="Index" class="btn btn-secondary text-white">Back</a>
	</div>
	<form asp-action="Create" method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="form-group">
			<label class="form-label" name="name">Name:</label>
			<input type="text" name="name" class="form-control" />
		</div>
		<button type="submit" class="btn btn-warning my-2">Create</button>
		<button type="reset" class="btn btn-danger my-2">Reset</button>
	</form>
</div>
