@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

<div class="container text-center">
	<h1 class="my-5">All roles</h1>
	<a asp-action="Create" class="btn btn-warning my-5 text-center">Create a role</a>
	<table class="table table-primary table-striped">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Action</th>
				<th scope="col">ID</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var role in Model)
			{
						<tr>
						  <td>@role.Name</td>
						  <td>
							  <div class="d-flex align-items-center justify-content-center gap-2">
								  <a class="btn btn-warning" asp-action="Edit" asp-route-id="@role.Id">Edit</a>
								  <form method="post">
									  <button type="submit" class="btn btn-danger" asp-action="Delete" 
									  asp-route-id="@role.Id">Delete</button>
								  </form>
							  </div>
						  </td>
						  <td>@role.Id</td>
						</tr>
			}
		</tbody>
	</table>
</div>